html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Base ------------------------- */
img {
  vertical-align: bottom;
}

.img-resp {
  max-width: 100%;
  height: auto;
}

/* Helper --------------------------- */
.container {
  max-width: 1200px;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

/* Layouts ------------------------------ */
.banner {
  z-index: -1;
  position: relative;
  height: 50vh;
  margin-bottom: -2rem;
  background-image: url(../images/banner.jpg);
  background-position-x: center;
  background-size: cover;
  text-indent: -9999px;
}

@media screen and (max-width: 1024px) {
  .banner {
    height: 66.6666vh;
  }
}

.banner::after {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  content: "";
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), to(white));
  background-image: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 50%, white 100%);
}

.nav {
  margin-bottom: 1rem;
}

@media screen and (max-width: 1024px) {
  .nav {
    margin-left: 1rem;
    margin-right: 1rem;
  }
}

/* Modules ------------------------------ */
.nav__ls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.nav__item {
  width: 25%;
  line-height: 3;
  text-align: center;
  color: #666;
  font-size: 1.2rem;
}

.pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pic__item {
  padding: 15px;
  width: 25%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .pic__item {
    width: 33.33333%;
  }
}

@media screen and (max-width: 768px) {
  .pic__item {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .pic__item {
    width: 100%;
  }
}

.pic__item > a {
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .pic__item .img-resp {
    width: 100%;
  }
}

.pic__gutter {
  position: relative;
  border: solid 1px #ddd;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.pic__cate {
  position: absolute;
  top: -7px;
  left: -10px;
  font-size: 12px;
  color: #fff;
  padding: 5px 10px;
  border-radius: 3px 3px 3px 0;
}

.pic__cate::after {
  z-index: -1;
  position: absolute;
  left: -10px;
  top: 12px;
  content: "";
  border: solid 10px transparent;
}

.pic__item--warning .pic__cate {
  background-color: orange;
}

@media screen and (max-width: 480px) {
  .pic__item--danger {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
}

.pic__item--danger .pic__cate {
  background-color: red;
}

.pic__item--warning .pic__cate::after {
  border-right-color: #c88100;
}

.pic__item--danger .pic__cate::after {
  border-right-color: #8f0000;
}

.pic__intro {
  padding: 15px;
}

.pic__tit,
.pic__desc {
  line-height: 1.5;
}

.pic__tit {
  color: orange;
  font-weight: 600;
  font-size: 1.1rem;
}

.pic__desc {
  color: #999;
  font-size: 0.9rem;
}

/* State -------------------------------------- */
.js-nav__item {
  color: orange;
  border-bottom: solid 3px orange;
}
