// 背景顏色
$background-color: #fff;
// 標籤背景顏色
$pic__item--danger: red;
$pic__item--danger_tri: #8f0000;
$pic__item--warning: orange;
$pic__item--warning_tri: #c88100;

// 字體顏色
// 分類標籤字體顏色
$pic__cate-color: #fff;
// nav 被選擇字體顏色
$nav__item--active: orange;
// 旅遊行程標題顏色
$pic__tit-color: orange;

// 邊線顏色
$pic__desc-border-color: #999;
